:root{
    --containerPadding: 2.5em 5.5em;
    --containerMinHeight: 400px;
}

body, html {
    margin: 0;

    padding: 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.container-md, .container-lg, .container-xl {
    max-width: 1500px;
}

#header-container{
    margin-top: 1em;
}

.icon-jb{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color:#444;
    text-decoration: underline;
    padding-bottom: 10px;
}

.icon-jb:hover{
    color:#ff7376;
}


#header-nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color:#444;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.col{
    padding: 0;
}
.nav-list{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px;
    padding-top: 5px;
    text-decoration: none;
    margin-bottom: 0px;
}

.nav-list-item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    padding: 0px 0.5em;
    margin-bottom: 0px;
}

.nav-list-first{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    padding: 0px 0.5em 0px 0px;
    margin-bottom: 0px;
}

.nav-list-last{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    padding: 0px 0px 0px 0.5em;
    margin-bottom: 0px;
}

.nav-about{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #444;
    transition: color 2s ease-out;
    transition: text-decoration 2s ease-out;
}

.nav-about:hover{
    color:#ff7376;
    text-decoration: underline;
    cursor: pointer;
}

.nav-skills{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #444;
}

.nav-skills:hover{
    color: #507bca;
    text-decoration: underline;
    cursor: pointer;
}

.nav-portfolio{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #444;
}

.nav-portfolio:hover{
    color:#45baa8;
    text-decoration: underline;
    cursor: pointer;
}

.nav-contact{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #444;
}

.nav-contact:hover{
    color:#ffd660;
    text-decoration: underline;
    cursor: pointer;
}

#about{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: #ff7376;
    color: #fff;
    min-height: var(--containerMinHeight);
    padding: var(--containerPadding);
}

#skills{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: #507bca;
    color: #fff;
    min-height: var(--containerMinHeight);
    padding: var(--containerPadding);
}

#skills-row{
    max-width: 1000px;
    padding:0px;
    margin:0px;
}

.svg-icons{
    min-width: 160px;
    min-height: 160px;
    margin: 10px 20px; 
}

#portfolio{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: #45baa8;
    color: #fff;
    min-height: var(--containerMinHeight);
    padding: var(--containerPadding);
}

#contact{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: #ffd660;
    color: #fff;
    min-height: var(--containerMinHeight);
    padding: var(--containerPadding);
}
.contact-span{
    background-color: #fff;
    padding:15px;
    border: #fff;
    border-radius: 50%;
    min-width: 300px;
}

.contact-span:hover{
    background-color: #000;
}
#footer-para{
    color: #444;
}

#footer-link{
    color: #444;
}

.btn{
    background-color: #fff ;
    border-color: #444;
}

.btn:hover{
    color: #fff;
    background-color: #45baa8;
    border-color: #45baa8;
}

.card{
    border-radius: 5%;
    margin: auto;
    margin-bottom: 10px;
    min-height: 390px;
    background-color: #fff;
    
}

.card-body{
    min-height: 185px;
    
}

.card-text{
    color: #444;
}
.card-title{
    color: #444;
}

.card-deck{
    display:flex;
    justify-content: space-evenly;
    
}