<footer class="footer" role="contentinfo">
  <nav class="social-links">
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/james-burke-dev/"
          title="LinkedIn"
          target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/jburke234" title="Github" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      <li>
        <a href="mailto:info@jamesburke.dev" title="Mail" target="_blank"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </li>
    </ul>
    <small style="margin: left 50%; margin: right 50%">
      © James Burke 2022.
    </small>
  </nav>
</footer>
