<footer class="footer" role="contentinfo">
  <small> © James Burke 2022. </small>
  <nav role="navigation">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/james-burke-dev/"
          ><img
            src="https://raw.githubusercontent.com/jburke234/jburke234.github.io/master/_assets/icons/linkedin.png"
            alt="LinkedIn"
        /></a>
      </li>
      <li>
        <a href="https://github.com/jburke234"
          ><img
            src="https://raw.githubusercontent.com/jburke234/jburke234.github.io/master/_assets/icons/github.png"
            alt="Github"
        /></a>
      </li>
      <li>
        <a href="mailto:info@jamesburke.dev"
          ><img
            src="https://raw.githubusercontent.com/jburke234/jburke234.github.io/master/_assets/icons/mail.png"
            alt="Mail"
        /></a>
      </li>
    </ul>
  </nav>
</footer>
