<footer class="footer" role="contentinfo">
  <small> © James Burke 2022. </small>
  <div class="social-links">
    <a
      href="https://www.linkedin.com/in/james-burke-dev/"
      title="LinkedIn"
      target="_blank"
      ><i class="fa fa-linkedin"></i
    ></a>
    <a href="https://github.com/jburke234" title="Github" target="_blank"
      ><i class="fa fa-github"></i
    ></a>
    <a href="mailto:info@jamesburke.dev" title="Mail" target="_blank"
      ><i class="fa-solid fa-envelope"></i
    ></a>
    <a
      href="Plant a tree"
      title="https://plantatreefoundation.org/"
      target="_blank"
      ><i class="fa-solid fa-trees"></i
    ></a>
  </div>
</footer>
